useDynLib(hrfdecode, .registration = TRUE)
importFrom(Matrix, Diagonal)
importFrom(Matrix, bdiag)
importFrom(Matrix, crossprod)
importFrom(Matrix, sparseMatrix)
importFrom(Rcpp, sourceCpp)
importFrom(fmriAR, fit_noise)
importFrom(fmriAR, whiten_apply)

export(aggregate_events)
export(as_mvpa_dataset)
export(continuous_mvpa_design)
export(estimate_rank_auto)
export(fit_hrfdecoder)
export(hrfdecoder_model)
export(predict_hrfdecoder)
export(scale_color_albers)
export(scale_fill_albers)
export(theme_albers)
S3method(as_mvpa_dataset,fmri_dataset)
